@charset "UTF-8";

body{
	background-color: black;
	background-image: url(./../images/icon_star.png);
	background-size: 100px;
}
#wrap{
	width: 600px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 20px #fff;
	box-shadow: -5px -5px 20px inset rgba(0,0,0,0.5);
	font-family: 'NeoDunggeunmo',돋움;
	
}
header>h1{
 	 color: transparent;
	font-family:'DNFBitBitv2',돋움;
	font-size: 38px;
	 background: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
	background-clip:text;
}

header>h1:after,
header>h1:before{
	content:'\2605';
}


footer>p.contact{
	display: flex;
	justify-content:center;
	align-items: center;
}
footer>p.contact>a{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #ccc;
	margin-right: 10px;
}
footer>p.contact>a:last-child{
	margin-right: 0;
}
footer>p.contact>a.contact-blog{
	background-image: url(./../images/naver_mail.png);
	background-size: cover;
}
footer>p.contact>a.contact-sns{
	background-image: url(./../images/instagram_logo.png);
	background-size: cover;
}
footer>p.contact>a.contact-github{
	background-image: url(./../images/github_logo.png);
	background-size: cover;
}
footer>address{
	margin-top :20px;
	display: block;
	text-align: center;
}